body{
    font-family: cursive;
}

h1{
    background-color: black;
    text-align: left;
}

#My{
    color: white;
   
}  

#Cloud{
    color: rgb(20, 219, 233);
}

h2{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
}

h3{
    background-color:rgb(79, 151, 211);
    color: rgb(0, 0, 0);
    text-align: right; 
    text-decoration: underline;
}